.form-group {
    padding: 10px;
    margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: #262626;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #262626;
  background-color: #fafafa;
  background-clip: padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;}

input[type="text" i] {
    padding: 1px 2px;
    border: 0;
}


.btn-primary {
  color: #fff;
  background-color: #0095f6;
  border-color: #0095f6;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #0081e6;
  border-color: #0081e6;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 149, 246, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  opacity: 0.65;
}
.search-form{

}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
.own_container {
    max-width: 550px;
    width: 500px;
    margin-left: 150px;
    margin-right: 150px;
    padding-right: 150px;
}
footer {
    margin-top: 20px;
  align-self: flex-end;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}
.comments{
   box-sizing: border-box;
  padding: 5px;
  margin: 5px;
  border: 0.5px solid grey;
}
